gris = #ebebeb
azul = #1f67d0
verde = #2f9927
turquesa = #6bbcab
naranja = #f66626
morado = #63349c
amarillo = #fbcc00
amarillo_ = #fbdd00
gris_ = #4f5658
azul_ = #0f78a8

.azul
	color azul
.black
	color black
.black-btn
	background black
	border-color black
	border-radius 0
	float right
.turquesa
a.farmaceuticos
a.antibioticos
	color turquesa

a.anti-microbianos
	color gris_

.azul_
a.antiparasitario
	color azul_	
.naranja
a.biologicos
a.bacterinas
	color naranja
.amarillo
a.antibioticos
	color amarillo
a.virologicos
	color amarillo_
.verde
	color verde
.mayus
	text-transform uppercase
.italic
	font-style italic
.bold
	font-weight 700
.m-b-0
	margin-bottom 0
.m-b-40
	margin-bottom 40px
.p-t-20
	padding-top 20px
.img-100
	width 100%
	height auto
	img
		width 100%
		height auto
.flag
	width 30px
	height 20px
	margin-bottom 10px
	&.flag-mx
		background transparent url(../images/flag-mx.png) no-repeat center center
		background-size cover
	&.flag-usa
		background transparent url(../images/flag-usa.png) no-repeat center center
		background-size cover
	&.show-this a
		text-indent 40px
		margin-top -10px
	a
		color transparent
		width 200px
		height 100%
		display block
		text-indent -10000px
.der
	text-align right
.product_category_use_list
	display none
body
	background gris
	font-family 'Titillium Web', sans-serif
.navbar-toggler
	border none
	float right
	padding 0.4em 0em
	span.bar
		background white
		display block
		width 30px
		height 4px
		margin 3px 0
.site-content-contain
	padding-top 60px
	overflow-x hidden
.home .site-content-contain
	padding-top 0
	overflow-x hidden
.navbar
	background rgba(black, .85)
	.nav-link
		color white
		text-transform uppercase
.sub-menu.dropdown-menu
	background none
.dropdown-menu
	background none
.sub-menu.dropdown-menu
	padding-left 20px
    padding-top 0
    padding-bottom 0
.top-bar
	padding-left 0
	padding-right 0
.navbar-brand
	img
		width 120px
.page-header
	h1
		padding-top 10px
		padding-bottom 10px
.main-banners-container
	background gray
	height 320px
	display block
	.item
		width 100%
		height 320px
		background-position center center
		background-size cover
		padding-top 130px
		color white
		p
			font-size 1em
			padding-right 20px
			text-shadow 1px 1px 5px #000
			line-height 1em
			&.title
				font-size 2em
				font-weight 800
				text-transform uppercase
				line-height 0.9em
.slick-arrow
	position absolute
	display none !important
.slick-slide
	div
		height 100%
.slick-dots
	text-align center
	margin -40px 0 0 0
	padding 0
	position relative
	li
		display inline-block
		width 20px
		height 20px
		background white
		border-radius 50%
		margin 0 5px
		overflow hidden
		button
			color transparent
			border none
			background transparent
		&.slick-active
			background transparent
			border 2px solid white
select.products-selector
	border 1px solid azul
	width 100%
li.gallos
li.gallinas
li.guajolotes
li.pollos
option.select-gallos
option.select-gallinas
option.select-guajolotes
option.select-pollos
	display none !important
.product-container
	margin-bottom 40px
	.inner-container
		background white
		padding-bottom 20px
		img
			width 100%
			height auto
			display block
	.info
		padding-left 10px
		padding-right 10px
		.title
			font-size 1.2em
			font-weight 700
.container-fluid.back-white
	margin-bottom 30px
.about-us-photo-home
	height 240px
	background-size cover
	background-position center center
	margin-bottom 20px
.back-white
	background white
	margin-top 40px
.back-white-nop
	background white
.active-substance
	min-height 1.5em
	display block
.entry-content
	p
		img
			width 100%
			height auto
			display block
.productos-pah
	width 140%
	height auto
	display inline-block
	margin-left -20%
	margin-top -40px
article.producto
	.entry-header
		margin-bottom 30px
		img
			width 100%
			height auto
	.entry-content
		.entry-title
			font-size 1.8em
			margin-bottom 0
		.sustancia
			font-size 1.2em
			margin 0
		.category
			margin-bottom 10px
	.icons
		display flex
		align-items center
		span
			font-size 2.6em
			margin-right 15px
			&.icon-aves
				font-size 1.35em
			&.icon-gallinas
				font-size 1.4em
			&.icon-gallos
			&.icon-felinos
				font-size 1.8em
			&.icon-guajolotes
				font-size 2em
			&.icon-pollos
				font-size 1.2em

h1.entry-title.text-center
	margin-top 30px
	margin-bottom 30px
.contact-left
	p
		img
			width 80%
			height auto
			display block
.form-control
	border-radius 0
.site-footer
	padding-top 30px
	padding-bottom 30px
	display block
	background gris_
.footer-title
	color white
	text-decoration underline
	font-size 1.2em
.menu-menu-footer-left-container
.menu-menu-footer-center-1-container
.menu-menu-footer-center-2-container
.menu-menu-footer-right-container
	ul
		padding 0
		text-align center
		margin 0 0 20px 0
		li
			display block
			a
				color white
				text-transform uppercase
				font-size .9em
.pagination
	width 100%
	padding 20px 0
	.nav-links
		width 100%
		text-align center
		text-transform uppercase
		.page-numbers
			margin 0 10px
			span.meta-nav.screen-reader-text
				display none
	h2.screen-reader-text
		display none
@media screen and (min-width: 580px)
	.main-banners-container
		height 420px
	.back-white
		background white
		margin-top 40px
	.productos-pah
		width 100%
		height auto
		display inline-block
		margin-left 0
		margin-top -55px

@media screen and (min-width: 768px)
	.form-group
		margin-bottom 2.5em
	.m-l--15
		margin-left -15px
	.m-r--15
		margin-right -15px
	.m-t--287
		margin-top: -287px;
	.products-selector-container
	.by-category
		display none
	.navbar
		border-bottom 2px solid gris
	.navbar-expand-md
		.navbar-nav
			width 100%
			justify-content flex-end
			.nav-link
				font-size .8em
			img
				width 130px
		.navbar-collapse
			display inline-block !important
			width 76%
	.main-banners-container
		height 520px
		.item
			height 520px
			p.title
				font-size 2.6em
	.productos-pah
		width 156%
		margin-left -26%
		margin-top 25px
	.about-us-photo-home
		margin-bottom 0
	.about-us-block
		.text-container
			display flex
	.product_category_use_list
		display inline-block
		font-size .7em
		padding-left 0
		text-align center
		width 100%
		li
			display inline-block
			padding 0px 5px
			border-right 1px solid black
			&:last-of-type
				border-right none
			a
				color black
	article.producto
		padding-top 20px
		.entry-content
			.entry-title
				font-size 2em
		.icons
			span
				font-size 2.2em
				margin-right 15px
	.footer-title
		color white
		text-decoration underline
		font-size 1em
	.menu-menu-footer-left-container
	.menu-menu-footer-center-1-container
	.menu-menu-footer-center-2-container
	.menu-menu-footer-right-container
		ul
			padding 0
			text-align center
			margin 0 0 20px 0
			li
				display block
				a
					color white
					text-transform uppercase
					font-size .8em
	.contact-left
		p
			img
				width 100%
@media screen and (min-width: 992px)
	.flag
		width 30px
		height 20px
		margin-bottom 0
		margin-right 10px
		margin-top 6px
		&.show-this a
			text-indent -50px
			margin-top 15px
	.m-t--287
		padding-top 20px
		padding-bottom 20px
		margin-bottom 100px
		margin-top -270px
	.navbar-expand-md
		.navbar-nav
			.nav-link
				font-size 1em
	.navbar-nav
		li
			a
				font-size .8em
	.navbar-brand
		img
			width 180px
	.top-bar
		display flex
	.navbar-nav
		flex-direction row
		width 100%
		justify-content flex-end
		.dropdown-menu
			background rgba(black, .7)
	.sub-menu.dropdown-menu
		width 200px
		padding-left 10px
	.main-prods
		.dropdown-menu
			top 49px
			border-radius 0
			border none
	.biologicos
		a::after
			transform rotate(-90deg)
		.dropdown-menu
			left 200px
			top 6px
			border-radius 0
			border none
	.farmaceuticos
		a::after
			transform rotate(-90deg)
		.dropdown-menu
			left 200px
			top 50px
			border-radius 0
			border none
	.especie-menu
		a::after
			transform rotate(-90deg)
		.dropdown-menu
			left 200px
			top 125px
			border-radius 0
			border none
	.page-header
		h1
			padding-top 30px
			padding-bottom 20px
	.main-banners-container
		height 620px
		.item
			padding-top 250px
			height 620px
			p.title
				font-size 3em
			p
				font-size 1.3em
	.productos-pah
		width 148%
		margin-left -24%
		margin-top -8px
	.about-us-block
		.text-container
			padding 26px 10px
	.product_category_use_list
		font-size .85em
		li
			padding 0 4px
@media screen and (min-width: 1200px)
	.navbar-nav
		li
			a
				font-size 1em
	.flag-mx
	.flag-usa
		margin-top 10px
		margin-left 5px
	.m-t--287
		padding-top 50px
		padding-bottom 50px
		margin-top -315px
	h1.entry-title.text-center
		margin-top 40px
	.navbar-brand
		img
			width 230px
	.main-banners-container
		height 820px
		.item
			height 820px
			padding-top 350px
			p.title
				font-size 3.4em
	.back-white
		margin-top 80px
	.about-us-block
		.text-container
			padding 25px 35px
	.productos-pah
		width 140%
		margin-left -22%
		margin-top -85px
	article.producto
		padding-top 40px
		.entry-content
			.entry-title
				font-size 2.8em